# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Turbo
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store

# Prisma
apps/api/prisma/*.db
